@import url('//db.onlinewebfonts.com/c/1a9e06429c308314c75092b63b2c18f4?family=Biko');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


.card{
    background: rgb(53, 53, 52);
    width: 280px;
    height: 300px;
    display: flex;
    float: left;
    margin: 10px 10px;
     box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
    position: relative;
    text-align: center;
    text-decoration: "none";
    border-radius: 5px;
    color:#fcf7f7;
} 
.card:hover{
z-index: 1;
transform: scale(1.80);
filter:brightness(110%);
float: inline-start;
}

.linkedname{
    font-family: "Montserrat";
    font-size: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);;
    color: white;
    filter:brightness(110%);
    position: relative;
    text-align: center;
    
}

.linkedname:hover{
filter:brightness(130%)
}

.img{
    position:relative;
    align-self: center;
padding: 0px;
height: 180px;
width: 280px;
filter: 
contrast(120%) 
opacity(60%);
}



.favorite{
    position: absolute;
    bottom: 0px;
    right: 5%;     
}
