@import url('//db.onlinewebfonts.com/c/1a9e06429c308314c75092b63b2c18f4?family=Biko');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.gral{
    width: 1500px;
    height: 800px;
    background-color: #272626;
    font-family: "Montserrat";
    text-decoration: 'none';
    color:#fcf7f7;
 }
.loading{
    background-color: #272626;
    font-family: "Montserrat";
    font-size: 30px;
    height: 100vh;
    width: 100vw;
    }

.imgload{
    position: relative;
    top:150px;
    height: 200px;
    width: 200px;
   
    }
.head{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: #272626;
    padding: 20px;
    }
.inhead{
    display: inline;
}
.btn{
    background-color:#272626 ;
    border: none;
}
.btn:hover{
    border: palegoldenrod 1px;
    transform: scale(1.10);
    cursor: pointer;
}
.container{
    display: grid;
grid-template-columns: repeat(2, 1fr);

}
.divcard{
    background-color: #1f1e1e;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    width: 1300px;
    padding: 0;
    margin: 0;
    justify-content:left;
    align-content: center;
    }

.filtros{
    display:grid;
    grid-template-rows: repeat(1fr);
    padding: 0px;
    padding-left: 20px;
    position: relative;
    margin-left: 0px;
    width: 200px;
    height: 520px;
}  
.filters{
    font-size: 18px;
    font-family: "Montserrat";
    justify-content: center;
    border: #272626 1px solid;
    outline: none;
    color: white;
    font-weight: bold;
    width: 170px;
    margin-top: 5px;
    border-radius: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    background-color: rgb(29, 29, 29);  
        
}

.paginado{
    width: 100vw;
    height: 10vh;
    position: bottom;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #272626;
    color:rgb(189, 186, 186);
    cursor: pointer;
}



