@import url('//db.onlinewebfonts.com/c/1a9e06429c308314c75092b63b2c18f4?family=Biko');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.nav{
    position: top;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #272626;
    padding: 10px
}

.about {
    color:rgba(230, 227, 227, 0.726);
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}