@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.gral{
    display: inline;
    padding: 20px;
    width: 250px;
    padding-bottom: 20px;   
}
.searchinput{
font-size: 18px;
font-family: "Montserrat";
border: #999999 1px solid;
outline: none;
color: white;
font-weight: bold;
width: 250px;
height: 30px;
border-radius: 3px;
padding-bottom: 3px;
padding-top: 3px;
background-color: transparent;
}

.btn{
    top: 55px;
    background-color:#272626 ;
    border: #999999 1px solid;
    border-radius: 3px;
}
.btn:hover{
    border: #999999 1px solid;
    border-radius: 3px;
    cursor: pointer;
    background-color:#1f1e1e; 
}